.oe_website_login_container {
	width: 100%;
	max-width: 400px;
}

.oe_website_login_container > form {
	margin: 12px;
}

.p16 {
	padding: 16px;
}

.table > tbody > tr > td.expense_cell {
  border-top: 0 none;
  padding: 0 8px;
}

.table > tbody > tr > td.expense_cell input {
  border: 0 none;
  padding: 3px 0;
  width: 100%;
	margin-bottom: 6px;
}

.expense_subtotal {
  float: right;
}

.help_menu_label {
	background:#FEF3D3;
	color:#CC0000;
}

.help_field_label {
	color:#C4A840;
	font-weight:bold;
}

